body, html{
  background-color: #DCDCDC;
}
div#calculadora{
  margin:auto;
  width: 450px;
  height: 600px;
  border: none;
  background-color: rgb(188, 188, 229);
  border-radius: 32px;
  font-family: 'Orbitron', sans-serif;
  box-shadow: 10px 10px 15px 3px;
}
#imprime{
  font-family: inherit;
  font-size: 60px;
  width: 400px;
  height: 130px;
  margin: 40px 20px;
  border:none;
  border-radius: 24px;
}

#buttonContainer{
  margin-left: 20px;
  display: grid;
  grid-template-columns: 75px 75px 75px 75px 75px;
  grid-gap: 8px;
  grid-template-rows: 80px 80px 80px 80px;

}
button{
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 12px;
  background-color: rgb(121, 121, 238) ;
  color: whitesmoke;
  font: inherit;
  font-size: 25px;
  box-shadow: rgb(11, 11, 148);
}
button:hover{
  box-shadow: inset rgb(121, 121, 238) ;
  background-color: rgb(12, 12, 194) ;;
}
#limpiar{
  font-size: 30px;
}
#igual{
  height: 257px;
  font-size: 60px;
  background-color: rgb(16, 151, 16);
}